.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "navbar navbar navbar"
    "image_1 text_1 text_1"
    "text_2 text_2 image_2"
    "image_3 text_3"
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #7aa086;
 
 
}
 
.navbar li {
    display: inline;
    font-family: 'Bebas Neue';
    font-size: 20px;
    padding: 20px;
 
}
 
.navbar a {
    padding: 40px;
    background-color:#7aa086;
 
}

.image_1 {
    grid-area: image_4;
    background-color:  #dddddd;
    width: auto;
    height: auto;
}

img {
    height: 60px;
    width: 100%;
}

.text_1{
    grid-area: Text_1;
    background-color: rgb(239, 242, 245);
    padding: 30px;
    text-align: center;
}

.text_2{
    grid-area: Text_1;
    background-color: rgb(239, 242, 245);
    padding: 30px;
    text-align: center;
}

.image_2 {
    grid-area: image_4;
    background-color:  #dddddd;
    height: auto;
}

.image_3 {
    grid-area: image_4;
    background-color:  #dddddd;
    height: auto;
}

.text_3{
    grid-area: Text_1;
    background-color: rgb(239, 242, 245);
    padding: 30px;
    text-align: center;
}

